@font-face {
    font-family: 'Tahoma';
    src: url('./fonts/Tahoma.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LTCYR - Md Cond';
    src: url('./fonts/Helvetica\ Neue\ LT\ Cyrillic\ 57\ Condensed.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LTCYR - Bd Cond';
    src: url('./fonts/Helvetica\ Neue\ LT\ Cyrillic\ 77\ Bold\ Condensed.ttf');
    font-weight: bold;
    font-style: normal;
}