.b-footnav {
    &-media {
        &-icons {
            &__item {
                width: 40px;
                padding: 8px;                  
                height: auto;
                border-radius: 50%;
                background: #696969;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background: #259b00;
                }
            }
        }
    }
    &-navigation {
        &-row {
            &__link {
                color: #515151;
                font-family: Tahoma;
                font-size: 14px;
                transition: 0.3s;
                &:hover {
                    color: #259b00;
                }
            }
        }
    }
}