.b-footnav {
    &-media {
        &-icons {
            &__item {
                width: 40px;
                padding: 8px;                  
                height: auto;
                border-radius: 50%;
                background: #696969;
                cursor: pointer;
                transition: 0.5s;
                &:hover {
                    background: #259b00;
                }
            }
        }
    }
    &-navigation {
        &-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            li {
                list-style: none;
                a { 
                    transition: 0.3s;
                    color: #515151;
                    font-family: "Tahoma", sans-serif;
                    font-size: 14px;
                }
                &:hover {
                    a {
                        color: #259b00;
                    }
                }
            }
        }
    }
}