.b-zaimy {
    &-bg {
        width: 100%;
        overflow: hidden;
        padding: 40px 0;
        background: url(../img/b-zaimy/b-zaimy-banner.png) no-repeat center;
        background-size: cover;
        position: relative;
    }
    &-human {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-30%);
    }
    &-content {
        width: 650px;
        height: 100%;
        position: relative;
    }
    &-title {
        position: relative;
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-family: "Helvetica Neue LTCYR - Md Cond", sans-serif;
        line-height: 50px;
        &-text {
            position: absolute;
            width: 100%;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
        }
        img {
            width: 100%;
        }
        h1 {
            font-size: 60px; 
            letter-spacing: 1.5px;
            font-weight: normal;
        }
        h3 {
            font-size: 40px;
            font-weight: normal;
        }
    }
    &-advantages {
        margin-top: 150px;
        width: 100%;
        height: 130px;
        background: rgba(white, 0.9);
        display: flex;
        justify-content: space-between;
        align-items: center;
        left: 0;
    }
    &-item {
        flex-basis: 30%;
        &:nth-child(1) {
            padding-left: 30px;
        }
        &:nth-child(3) {
            padding-left: 40px;
        }
        &__text {
            font-family: 'Helvetica Neue LTCYR - Bd Cond';
            font-size: 31px;
            text-align: left;
            color: #404040;
            &__yellow {
                font-size: 55px;
                color: #f0b30d;
            }
            &__small {
                font-size: 20px;
                font-family: 'Helvetica Neue LTCYR - Bd Cond';
                text-align: left;
                color: #404040;
            }
        }
    }
    &-button {
        margin-top: 30px;
        padding: 15px 30px;
        color: white;
        font-family: 'Tahoma', sans-serif;
        font-size: 20px;
        border: none;
        background: #259b00;
    }
}
@media (max-width: 991px) {
    .b-zaimy {
        &-content {
            width: 500px;
        }
        &-title {
            &-text {
            top: 10%;
            }
            h1 {
                font-size: 45px;
            }
            h3 {
                font-size: 30px;
            }
        }
        &-item {
            &__text {
                font-size: 25px;
                &__yellow {
                    font-size: 40px;
                }
                &__small {
                    font-size: 16px;
                }
            }
            &:nth-child(3) {
                padding-left: 20px;
            }
        }
    }
}
@media (max-width: 700px) {
    .b-zaimy {
        &-content {
            width: 70%;
        }
        &-human {
            width: 170%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-30%);
        }
        &-title {
            &-text {
            top: 20%;
            }
            h1 {
                font-size: 40px;
                line-height: 30px;
            }
            h3 {
                font-size: 25px;
                line-height: 30px;
            }
        }
        &-advantages {
            height: 100px;
            width: 130%;
        }
    }
}
@media (max-width: 600px) {
    .b-zaimy {
        &-content {
            width: 80%;
        }
        &-advantages {
            margin-top: 80px;
            width: 100%;
        }
        &-item {
            &__text {
                font-size: 20px;
                &__yellow {
                    font-size: 30px;
                }
            }
            &:nth-child(3) {
                padding-left: 10px;
            }
            &:nth-child(1) {
                padding-left: 10px;
            }

        }
    }
}
@media (max-width: 500px) {
    .b-zaimy {
        &-bg {
            padding: 20px 0;
        }
        &-advantages {
            width: 120%;
            height: 70px;
        }
        &-button {
            margin-top: 10px;
        }
    }
}
@media (max-width: 400px) {
    .b-zaimy {
        &-title {
            &-text {
                top: 10%;
            }
            h1 {
                font-size: 25px;
                line-height: 25px;
            }
            h3 {
                font-size: 17px;
                line-height: 25px;
            }
        }
        &-item {
            &__text {
                font-size: 14px;
                &__yellow {
                    font-size: 17px;
                }
                &__small {
                    font-size: 13px;
                }
            }
        }
        &-advantages {
            margin-top: 40px;
            height: 60px;
        }
        &-button {
            font-size: 16px;
        }
    }
}