.b-navigation {
    display: flex;
    width: 100%;
    font-family: 'Tahoma', sans-serif;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &-bg {
    height: 58px;
    background-color: #fafafa;
    border: 1px solid #c4c9cc;
    }
    &-middle {
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        display: none;
    }
    &-list {
        display: flex;
        flex-basis: 35%;
        font-size: 12px;
        flex-wrap: wrap;
        height:  57px;
        align-items: center;
        &__item {
            position: relative;
            flex-basis: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            color: #7d7d7d;
            text-transform: uppercase;
            transition: 0.3s;
            &:after {
                position: absolute;
                bottom: 1px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                width: 0%;
                height: 4px;
                background: #259b00;
                transition: 0.3s
            }
            &:hover {
                color: #259b00;
                &:after {
                        width: 100%;
                    }
            }
        }
    }
    &-connect {
        flex-basis: 20%;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        &-item {
            cursor: pointer;
            flex-basis: 45%;
            color: #f0b30d;
            display: flex;
            svg {
                width: 10px;
                height: auto;
                fill: #f0b30d;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
    }
    &-button {
        flex-basis: 25%;
        font-size: 12px;
        height: 40px;
        color: #8e8e8e;
        border: 2px solid #c4c9cc;
        background-color: #fbfbfb;
        padding: 5px 27px;
        transition: 0.3s;
        &:hover {
            background-color: #259b00;
            color: white;
            border: 2px solid #259b00;
        }
    }
    &-bottom {
        z-index: 100;
        font-family: 'Tahoma', sans-serif;
        position: relative;
        width: 100%;
        height: 100px;
        background: white;
        display: flex;
        align-items: center;
        &-menu {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            width: 70%;
            justify-content: center;
            align-items: center;
            &__item {
                list-style: none;
                text-transform: uppercase;
                margin: 0 30px;
                position: relative;
                &:nth-child(3) {
                    margin-right: 0;
                }
                a {
                    color: #3d3d3d;
                    transition: 0.3s;
                    &:hover {
                        color: #259b00;
                    }
                }
                &:after {
                    position: absolute;
                    bottom: -80%;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: #259b00;
                    transition: 0.3s
                }
                &:hover {
                    color: #259b00;
                    &:after {
                            width: 110%;
                        }
                } 
            }
        }
        &__logo {
            padding-left: 43px;
        }
        &-list {
            position: absolute;
            top: -15px;
            left: -15px;
            width: 250px;
            background: white;
            border: 1px solid #c4c9cc;
            display: none;
            ul {
                padding-top: 60px;
            }
            li {
                list-style: none;
                color: #515151;
                font-family: Tahoma;
                font-size: 16px;
                padding: 15px 40px;
                transition: 0.3s;
                &:hover {
                    background: #259b00;
                    color: white;
                }
            }
        }
    }
}

.b-navigation-bottom-menu {
    &__hamburger {
        cursor: pointer;
        height: 15px;
        margin-left: 10px;
        position: relative;
        width: 20px;
    }
    
    &__line {
        background-color: #259b00;
        height: 3px;
        position: absolute;
        width: 100%;
        transition: 0.5s;
        &:nth-child(1) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 0px;
            opacity: 1;
            top: 50%;
            transform: translateY(-50%)
        }
        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
        }
    }
}



.navigation-bottom-menu {
    &__hamburger {
        cursor: pointer;
        height: 15px;
        margin-left: 30px;
        position: relative;
        width: 20px;
    }
    
    &__line {
        background-color: #006eb6;
        height: 3px;
        position: absolute;
        width: 100%;
        transition: 0.5s;
        &:nth-child(1) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 0px;
            opacity: 1;
            top: 50%;
            transform: translateY(-50%)
        }
        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
        }
    }
}

.fade {
    animation: fade 0.5s ease;
    display: block;
}
@keyframes fade {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .b-navigation {
        &-list {
            flex-basis: 25%;
        }
    }
}
@media (max-width:991px) {
    .b-navigation {
        &-middle {
            display: flex;
        } 
        &-bottom {
            &-menu {
                width: 100%;
            }
        }
        &-list {
            flex-basis: 50%;
        }
        &-connect {
            flex-basis: 50%;
        }
    }
    .desktop-hide {
        display: none;
    }
}
@media (max-width: 768px) {
    .b-navigation {
        &-connect-item {
            flex-basis: 50%;
        }
        &-list__item {
            flex-basis: 50%;
        }
        &-bottom-menu {
            justify-content: space-between;
            padding: 0 30px;
            &__item {
                margin: 0;
            }
        }
        &-bottom-list {
            left: -220px;
        }
    }
}
@media (max-width: 550px) {
    .b-navigation {
        &-list {
            font-size: 10px;
        }
        &-connect {
            font-size: 11px;
        }
        &-button {
            font-size: 10px;
            padding: 5px 10px;
        }
        &-bottom {
            height: 60px;
            font-size: 11px;
        }
    }
}
@media (max-width: 550px) {
    .b-navigation {
        &-bottom {
            &-menu {
                padding: 0;
            }
        }
    }
}