.saving {

    &-stats {
        position: relative;
        width: 100%;
        // background: url(../img/saving/saving-slide1.png) no-repeat center;
        // background-size: cover;
    }
    &-count {
        display: flex;
        &__item {
            width: 47px;
            height: 75px;
            margin: 0 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #b2b2b2;
            border-radius: 7px;
            background: linear-gradient(to top, #dcdad6 0%, #ffffff 100%);
            color: #cc0026;
            font-family: "Helvetica Neue LTCYR - Bd Cond", sans-serif;
            font-size: 62px;
        }
    }
    &-total {
        position: absolute;
        top: 50px;
        left: 50%;
        z-index: 1000;
        &__title {
                color: #3d3d3d;
                font-family: "Helvetica Neue LTCYR - Md Cond", sans-serif;
                font-size: 50px;
        }
    }
}