.calc {
    background-color: #eeeeee;
    width: 100%;
    padding: 46px 0;
    &-wrap {
        background-color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 0 10px rgba(black, 0.1);
        padding: 68px 60px 68px 120px;
    }
    &-item {
        flex-basis: 40%;
        &__title {
            color: #005086;
            font-family: 'Tahoma', sans-serif;
            width: 100%;
            text-align: center;
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 20px;
            &__color {
                color: #44197c;
            }
        }
        &-add {
            margin-top: 30px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            &-description {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                color: #717171;
                font-family: "Tahoma", sans-serif;
                font-size: 14px;
            }
            &__range {
                z-index: 0;
                margin-top: 20px;
                position: relative;
                width: 100%;
                appearance: none;
                border-radius:2px;
                height:3px;
                outline : none;
                background-color: #686868;
                &:before {
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: -3px;
                    content: '';
                    display: inline-block;
                    width: 3px;
                    height: 10px;
                    background: #686868;
                }
                &:after {
                    z-index: -1;
                    position: absolute;
                    right: 0;
                    top: -3px;
                    content: '';
                    display: inline-block;
                    width: 3px;
                    height: 10px;
                    background: #686868;
                }
                &::-webkit-slider-thumb{
                    z-index: 10;
                    -webkit-appearance: none;
                    width: 18px;
                    height: 18px;
                    background:white;
                    border: 2px solid #f0b30d;
                    border-radius: 50%;
                    cursor:pointer;
                    transition:.3s;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
        &-checkbox {
            margin-top: 30px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            &__label {
                color: #3d3d3d;
                position: relative;
                font-family: "Tahoma", sans-serif;
                font-size: 16px;
                width: 100%;
                line-height: 22px;
                cursor: pointer;
                &:after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    right: 0;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #9a9a9a;
                    cursor: pointer;
                    transition: 0.1s;
                }                
            }
            &__square {
                display: none;
                &:checked + .calc-item-checkbox__label:after {
                    content: "\2713";
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
                    font-size: 35px;
                    color: #005086;
                    text-align: center;
                    line-height: 15px;
                }
            }
        }
        
        &__label {
            color: #3d3d3d;
            font-family: "Tahoma", sans-serif;
            font-size: 16px;
        }
        &__input {
            width: 150px;
            height: 33px;
            border: 1px solid #b9b9b9;
            padding-left: 10px;
        }
    }
    &-image {
        flex-basis: 60%;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%)
        }
    }
    &-result {
        margin-top: 45px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        &-percent {
            flex-basis: 25%;
        }
        &-taxes {
            flex-basis: 25%
        }
        &-income {
            flex-basis: 50%
        }
        &__title {
            padding: 10px 0;
            text-align: center;
            font-family: "Tahoma", sans-serif;
            color: white;
            font-size: 14px;
            background: #0060a0;
            &__color {
                background: #44197c;
            }
        }
        &__info {
            margin-top: 23px;
            color: #686868;
            font-family: 'Tahoma', sans-serif;
            font-size: 24px;
            text-align: center;
        }
    }
}

@media (max-width: 991px) {
    .calc {
        &-wrap {
            padding: 30px;
            justify-content: center;
            align-items: center;
        }
        &-image {
            display: none;
        }
        &-item {
            flex-basis: 100%;
            padding: 0 50px;
        }
    }
}
@media (max-width: 768px) {
    .calc {
        background: white;
        &-wrap {
            width: 100%;

        }
    }
}
@media (max-width: 450px) {
    .calc {
        &-wrap {
            padding: 15px;
        }
        &-item { 
            padding: 0 15px;
        }
    }
}
@media (max-width: 350px) {
    .calc {
        &-item {
            &__title {
                font-size: 20px
            }
            &-checkbox__label {
                font-size: 12px;
            }
        }
        &-result {
            &__title {
                font-size: 12px;
            }
            &__info {
                font-size: 16px;
            }
        }
    }
}