.contacts {
    width: 100%;
    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        flex-wrap: wrap;
    }
    &-logo {
        flex-basis: 40%;
        text-align: left;
    }
    &-info {
        padding: 20px 90px;
        flex-basis: 50%;
        background: rgba(white, 0.1);
        display: flex;
        justify-content: flex-end;
        &-town {
            flex-basis: 50%;
            color: #ffffff;
            position: relative;
            font-family: "Tahoma", sans-serif;
            font-size: 18px;
            transition: 0.3s;
            cursor: pointer;
            display: flex;
            &:after {
                position: absolute;
                top: 50%;
                content: '';
                display: inline-block;
                width: 45%;
                height: 2px;
                background: white;
            }
            svg {
                width: 10px;
                height: 10px;
                fill: white;
                margin-top: 8px;
                margin-left: 10px;
            }
        }
        &-adress {
            flex-basis: 50%;
            p {
                color: #ffffff;
                font-family: 'Tahoma', sans-serif;
                font-size: 14px;
                padding-bottom: 10px;
            }
            &-number {
                display: flex;
                &__phone {
                    margin-left: 15px;
                    display: block;
                    font-weight: bold;
                    color: #ffffff;
                    font-family: 'Tahoma', sans-serif;
                }
            }
        }
    }
}
.contacts-mobile {
    display: none;
}
.contacts-green {
    background: linear-gradient(90deg,#1e7801,#2b940a);
}
.contacts-blue {
    background: linear-gradient(90deg, #005084, #004a7a);
}
@media (max-width: 1200px) {
    .contacts {
        &-info {
            padding: 20px;
        }
    }
}
@media (max-width: 991px) {
    .contacts {
        &-info {
            justify-content: center;
            &-town {
                &:after {
                    top: 120%;
                    width: 30%;
                }
            }
            &-adress {
                flex-basis: 100%;
                margin: 0 auto;
                text-align: center;
                &-number {
                    justify-content: center;
                }
            }
        }
        &-desktop {
            display: none;
        }
        &-mobile {
            padding-top: 10px;
            display: flex;
        }
    }
}
@media (max-width: 550px) {
    .contacts {
        &-logo {
            img {
                width: 100%;
            }
        }
        &-info {
            background: none;
            padding: 0;
        }
    }
}
@media (max-width: 380px) {
    .contacts {
        &-wrap {
            flex-direction: column;
        }
        &-info {
            padding-top: 30px;
        }
        &-mobile {
            justify-content: center;
        }
    }
}