.navigation {
    display: flex;
    width: 100%;
    font-family: 'Tahoma', sans-serif;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    &-bg {
    padding: 4px 0;
    background-color: #fafafa;
    border: 1px solid #c4c9cc;
    }
    &-middle {
        padding: 10px;
        display: none;        
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        display: flex;
        flex-basis: 35%;
        font-size: 12px;
        flex-wrap: wrap;
        height:  57px;
        align-items: center;
        li {
            list-style: none;
            text-align: center;
            position: relative;
            flex-basis: 35%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            a {
                color: #7d7d7d;
                text-transform: uppercase;
                transition: 0.3s;
            }
            &:after {
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                width: 0%;
                height: 4px;
                background: #006eb6;
                transition: 0.3s
            }
            &:hover {
                color: #006eb6;
                &:after {
                        width: 100%;
                    }
            }
        }
    }
    &-connect {
        flex-basis: 20%;
        font-size: 14px;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        &-item {
            cursor: pointer;
            flex-basis: 45%;
            color: #f0b30d;
            display: flex;
            svg {
                width: 10px;
                height: auto;
                fill: #f0b30d;
                margin-top: 2px;
                margin-left: 10px;
            }
        }
        &-wrap {
            display: flex;
        }
    }
    &-button {
        flex-basis: 25%;
        font-size: 12px;
        color: #8e8e8e;
        border: 2px solid #c4c9cc;
        background-color: #fbfbfb;
        padding: 11px 27px;
        transition: 0.3s;
        &:hover {
            background-color: #006eb6;
            color: white;
            border: 2px solid #006eb6;
        }
    }
    &-bottom {
        z-index: 100;
        font-family: 'Tahoma', sans-serif;
        position: relative;
        width: 100%;
        height: 100px;
        background: white;
        display: flex;
        align-items: center;
        &-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                list-style: none;
                text-transform: uppercase;
                margin: 0 50px;
                position: relative;
                a {
                    color: #3d3d3d;
                    transition: 0.3s;
                    &:hover {
                        color: #006eb6;
                    }
                }
                &:after {
                    position: absolute;
                    bottom: -80%;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 0%;
                    height: 2px;
                    background: #006eb6;
                    transition: 0.3s
                }
                &:hover {
                    color: #006eb6;
                    &:after {
                            width: 120%;
                        }
                } 
            }
        }
        &__logo {
            padding-left: 43px;
        }
        &-list {
            position: absolute;
            top: -15px;
            left: -15px;
            width: 250px;
            background: white;
            border: 1px solid #c4c9cc;
            display: none;
            ul {
                padding-top: 60px;
            }
            li {
                list-style: none;
                padding: 15px 40px;
                transition: 0.3s;
                a {
                    color: #515151;
                    font-family: "Tahoma", sans-serif;
                    font-size: 16px;
                    transition: 0.3s;
                }
                &:hover {
                    background: #006eb6;
                    a {
                        color: white;
                    }
                }
            }
        }
    }
}
.navtown {
    &-list {
        display: none;
        background: white;
        position: absolute;
        z-index: 101;
        width: 150px;
        top: 30px;
        left: 0;
        border: 1px solid #c4c9cc;
    }
    &-item {
        display: block;
        width: 100%;
        background: none;
        border: none;
        text-align: left;
        padding: 5px 0 5px 10px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background: #006eb6;
            color: white;
        }
    }
}
.navconnect {
    &-list {
        display: none;
        flex-direction: column;
        position: absolute;
        color: black;
        top: 30px;
        padding: 10px;
        width: 200px;
        left: 45%;
        background: white;
        border: 1px solid #c4c9cc;
        z-index: 102;
        p {
            padding: 5px 0;
        }
        h3 {
            padding: 5px 0;
        }
    }
    &-time {
        padding: 5px 0;
        h5 {
            font-size: 14px;
        }
    }
}
.navigation-bottom-menu {
    &__hamburger {
        cursor: pointer;
        height: 15px;
        margin-left: 30px;
        position: relative;
        width: 20px;
    }
    
    &__line {
        background-color: #006eb6;
        height: 3px;
        position: absolute;
        width: 100%;
        transition: 0.5s;
        &:nth-child(1) {
            left: 0px;
            top: 0px;
        }
        &:nth-child(2) {
            left: 0px;
            opacity: 1;
            top: 50%;
            transform: translateY(-50%)
        }
        &:nth-child(3) {
            bottom: 0px;
            left: 0px;
        }
    }
}
.nav-bottom-active {
    &:after {
        position: absolute;
        bottom: -80%;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 110%;
        height: 2px;
        background: #006eb6;
        transition: 0.3s
    }
}
.nav-top-active {
    &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 100%;
        height: 4px;
        background: #006eb6;
        transition: 0.3s
    }
}
.fade {
    animation: fade 0.5s ease;
    display: block;
}
@keyframes fade {
    from {
        opacity: .1;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .navigation {
        &-list {
            flex-basis: 25%;
        }
    }
}
@media (max-width:991px) {
    .navigation {
        &-middle {
            display: flex;
        } 
        &-bottom {
            justify-content: space-around;
            &-menu {
                width: 100%;
            }
        }
        &-list {
            flex-basis: 50%;
        }
        &-connect {
            flex-basis: 50%;
        }
    }
    .desktop-hide {
        display: none;
    }
}
@media (max-width: 768px) {
    .navigation {
        &-connect-item {
            flex-basis: 50%;
        }
        &-list li {
            flex-basis: 50%;
            text-align: center;
        }
        &-bottom-menu {
            justify-content: space-between;
            padding: 0 30px;
            li {
                margin: 0;
            }
        }
        &-bottom-list {
            left: -220px;
        }
    }
    .navconnect-list {
        left: 20%;
    }
}
@media (max-width: 550px) {
    .navigation {
        &-middle {
            padding: 10px 0;
        }
        &-list {
            font-size: 10px;
        }
        &-connect {
            font-size: 11px;
        }
        &-button {
            font-size: 10px;
            padding: 5px 15px;
        }
        &-bottom {
            height: 60px;
            font-size: 11px;
        }
    }
    .navconnect-list {
        left: 0%;
    }
}
@media (max-width: 550px) {
    .navigation {
        &-bottom {
            &-menu {
                padding: 0;
            }
        }
    }
}
@media (max-width: 450px) {
    .navconnect-list {
        left: -30%;
    }
}