.zaimy-banner {
    width: 100%;
    height: auto;
    background: url(../img/zaimy/header.png) no-repeat center;
    background-size: cover;
    padding: 67px 0;
    &-wrap {
        position: relative;
        width: 80%;
        margin: auto;
        background-color: rgba(white, 0.95);
        padding: 40px 34px;
    }
    &-content {
        width: 100%;
        height: 100%;
        border: 1px solid #cacaca;
        border-bottom: none;
        padding: 150px 60px 30px 60px;
    }
    &-title {
        position: absolute;
        top: 2.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        height: 115px;
        background: url(../img/zaimy/title.png) no-repeat center;
        background-size: cover;
        &__text {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-family: "Helvetica Neue LTCYR - Md Cond", sans-serif;
            font-size: 46px;
            text-transform: uppercase;
        }
    }
    &-count {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    &-calc {
        flex-basis: 50%;
    }
    &-options {
        margin-top: 30px;
        flex-basis: 50%;
        padding-left: 50px;
        &__text {
            color: #3d3d3d;
            text-transform: uppercase;
            font-family: 'Tahoma', sans-serif;
            font-size: 15px;
            padding-bottom: 23px;
        }
        &__button {
            text-transform: uppercase;
            position: relative;
            color: #3d3d3d;
            font-family: Tahoma;
            font-size: 14px;
            cursor: pointer;
            background: none;
            border: none;
            margin-bottom: 23px;        
            &:after {
                position: absolute;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                width: 0%;
                height: 2px;
                background: #006eb6;
                transition: 0.3s
            }
            &:hover {
                color: #006eb6;
                &:after {
                        width: 100%;
                    }
            }
        }
    }
    &-services {
        width: 100%;
        display: flex;
    }
    &-service {
        width: calc(100% / 3);
        position: relative;
        border: 2px solid transparent;
        border-top: 1px solid #cacaca;
        height: 350px;
        padding: 40px 20px;
        &:hover {
            border: 1px solid #cacaca;
            border-top: none;
        }
        &__icon {
            height: 60px;
            width : auto;
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__title {
            color: #005086;
            font-family: 'Tahoma', sans-serif;
            font-size: 18px;
            font-weight: normal;
            text-align: center;
            margin-bottom: 10px;
        }
        &__text {
            color: #3d3d3d;
            font-family: Tahoma;
            font-size: 14px;
            line-height: 24px;
            &__yellow {
                color: #f0b30d;
                font-size: 20px;
            }
        }
        &__button {
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            color: #0060a0;
            padding: 15px;
            border: 1px solid #0060a0;
            background-color: white;
            font-size: 17px;
            width: 85%;
            transition: 0.3s;
            &:hover {
                background-color: #0060a0;
                color: white;
            }
        }
        
    }
}