.conditions {
    width: 100%;
    &-top {
        width: 100%;
        height: 40px;
    }
    &-bg-blue {
        background: #00548d url(../img/zaimy/conditions-bg.png) no-repeat center top;
        background-size: 150%;
    }
    &-bg-green {
        background: #278d08 url(../img/b-zaimy/conditions-green.png) no-repeat center top;
        background-size: 100%;
    }
    &__title {
        text-align: center;
        color: #fefefe;
        font-family: Tahoma;
        font-size: 36px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.89px;
        padding-top: 70px;
    }
    &-list {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 100px;
        &-item {
            padding-top: 100px;
            flex-basis: 25%; 
            padding-left: 40px;
            &__title {
                color: #ffffff;
                font-family: "Helvetica Neue LTCYR - Bd Cond", sans-serif;
                font-size: 33px;
                font-weight: 400;
                margin-bottom: 23px;
                &__padding {
                    padding-top: 10px;
                }
                &__bottom {
                    padding-bottom: 38px;
                }
                &__large {
                    font-size: 40px;
                }
            }
            &__text {
                color: #ffffff;
                width: 240px;
                font-family: Tahoma;
                font-size: 14px;
                font-weight: 400;
                line-height: 21.99px;
            }
            &__capitaldots {
                position: absolute;
                bottom: 0;
                right: 20%;
            }
        }
    }
    &__dots {
        height: 60px;
        margin-top: auto;
    }
    &-video {
        width: 100%;
        height: 400px;
        margin: 40px 0;
        padding: 10px 12px;
        &__content {
            width: 100%;
            height: 100%;
        }
        &__blue {
            background: #004d82;
        }
        &__green {
            background: #1b7000;
        }
    }
    &-button {
        border: 1px solid white;
        background: none;
        color: white;
        text-transform: uppercase;
        padding: 18px 34px;
        font-family: Tahoma;
        cursor: pointer;
        font-size: 20px;
        width: 265px;
        line-height: 24px;
        margin-bottom: 50px;
        &__wrap {       
            display: flex;
            justify-content: flex-end;  
        }
    }
}
@media (max-width: 991px) {
    .conditions {
        &-list {
            &-item {
                padding-left: 0px;
                flex-basis: 20%;
                &__text {
                    padding-right: 5px;
                }
            }
        }
        &__dots {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .conditions {
        &__title {
            font-size: 25px;
        }
        &-list {
            &-item {
                padding-top: 50px;
                padding-left: 20px;
                flex-basis: 45%;
                &__title {
                    font-size: 25px;
                    &__large {
                        font-size: 30px;
                    }
                    &__bottom {
                        padding: 0;
                    }
                }
            }
        }
    }
}
@media (max-width: 550px) {
    .conditions {
        &-list {
            padding-bottom: 50px;
            &-item {
                padding-left: 0;
                flex-basis: 45%;
                &__title {
                    font-size: 20px;
                }
                &__text {
                    font-size: 11px;
                    width: 100%;
                }
            }
        }
        &-video {
            height: 300px;
            padding: 0;
        }
        &-button {
            font-size: 16px;
            padding: 6px;
            width: 200px;
        }
    }
}