.zaimy-instruction {
    background: white;
    padding-bottom: 120px;
    border-bottom: 1px solid #c4c4c4;
    &__title {
        color: #3d3d3d;
        font-family: 'Tahoma', sans-serif;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        padding: 102px 0 53px 0;

    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 50px; 
        &-item {
            &-info {
                padding: 0 30px 30px 30px;
            }
            flex-basis: 23%;
            border: 1px solid #d1d1d1;
            &__icon {
                display: block;
                height: 75px;
                margin: 30px auto;
            }
            &__number {
                float: left;
                font-family: "Helvetica Neue LTCYR - Bd Cond";
                padding-right: 10px;
                height: 45px;
                font-size: 45px;
                color: #f0b30d;
                letter-spacing: 1.47px;
            }
            &__text {
                padding-top: 10px;
                color: #3d3d3d;
                font-family: "Tahoma", sans-serif;
                font-size: 14px;
                line-height: 22px;
                &__bold {
                    font-weight: 700;
                }
            }
        }
    }
}
@media (max-width: 1200px) {
    .zaimy-instruction {
        &-list {
            &-item {
                &-info {
                    padding: 0 15px 15px 15px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .zaimy-instruction {
        &__title {
            padding: 75px 0px 35px 0;
            font-size: 30px;
        }
        &-list {
            &-item {
                flex-basis: 45%;
                margin-bottom: 10%;
                &-info {
                    padding: 0 10px 10px 10px;
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .zaimy-instruction {
        &-list {
            margin: 0;
            &-item {
                flex-basis: 49%;
                margin-bottom: 3%;
                &-info {
                    padding: 0 10px 10px 10px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .zaimy-instruction {
        padding-bottom: 60px;
        &__title {
            padding: 50px 0px 25px 0;
            font-size: 25px;
        }
        &-list {
            margin: 0;
            &-item {
                &__number {
                    font-size: 30px;
                }
                &__icon {
                    height: 55px;
                    margin: 10px auto;
                }
                &__text {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
        }
    }
}