.capital-workplan {
    padding: 100px 0;
    background: white;

    &__title {
        text-align: center;
        color: #3d3d3d;
        font-family: 'Tahoma', sans-serif;
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
        padding-bottom: 50px;
    }
}
@media (max-width: 768px) {
    .capital-workplan {
        padding: 50px 0;
    }
}
@media (max-width: 500px) {
    .capital-workplan {
        &__title {
            font-size: 25px;
        }
    }
}